In [1]:
using ResourceManagement
using DataFrames

using CSV

In [2]:
# dflabor = ReadLaborTracker("src\\TEAM_PLANNED_FWD24.csv"); 
dflabor = ReadLaborTracker("C:\\Users\\junqueg\\OneDrive - dematic.com\\MyDocuments_BackUp\\15. Programming\\Projects\\ResourceManagement.jl\\src\\TEAM_PLANNED_FWD24_NOV.csv");

In [3]:
dfp =  ReadLaborTracker("actual_planByDeptByProj.csv");

In [4]:
dfp |> first

DataFrameRow
 Row ‚îÇ Department             Project  Description              Network     Ta ‚ãØ
     ‚îÇ String31               Int64    String31                 String15    In ‚ãØ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 430300 ENG - Controls   154662  Burlington Coat Factory  N154662-02   2 ‚ãØ
                                                              51 columns omitted

In [5]:
dfcostnew =  ReadCostTracker("costracker_0606.csv");

In [6]:
p154662 = Project("154662" , "Burlington")

(üíº, 154662, Burlington, Make every Project a Success üí™üèª before it even begins!

In [7]:
p154662.Cost

Cost[]

In [8]:
fetchAndWriteProjectFinances!(dfcostnew, "154662", "430300", p154662)

(üíº, 154662, Burlington Coat Factory, Make every Project a Success üí™üèª before it even begins!

In [9]:
p154662.Cost[1].Actual_ENG

267.6

In [10]:
getProjectCostItem(p154662, :Actual_ENG)

267.6

In [11]:
p158070 = Project("158070" , "Walmart")

(üíº, 158070, Walmart, Make every Project a Success üí™üèª before it even begins!

In [12]:
fetchAndWriteProjectFinances!(dfcostnew, "158070", "430300", p158070)

(üíº, 158070, Walmart HVFC - Memphis TN, Make every Project a Success üí™üèª before it even begins!

In [13]:
p154662.FwdHoursForecast |> names

25-element Vector{String}:
 "Employee"
 "Month1"
 "Month2"
 "Month3"
 "Month4"
 "Month5"
 "Month6"
 "Month7"
 "Month8"
 "Month9"
 ‚ãÆ
 "Month16"
 "Month17"
 "Month18"
 "Month19"
 "Month20"
 "Month21"
 "Month22"
 "Month23"
 "Month24"

In [14]:
fetchAndWritePlannedProjHours!(dfp, p154662, :fwd)

(üíº, 154662, Burlington Coat Factory, Make every Project a Success üí™üèª before it even begins!

In [15]:
p154662

(üíº, 154662, Burlington Coat Factory, Make every Project a Success üí™üèª before it even begins!

In [16]:
p154662.FwdHoursForecast

19√ó25 DataFrame
 Row ‚îÇ Employee                      Month1  Month2  Month3  Month4  Month5  M ‚ãØ
     ‚îÇ String                        Int64   Int64   Int64   Int64   Int64   I ‚ãØ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ ZAHID ZOHAIB                      60      60       0       0       0    ‚ãØ
   2 ‚îÇ SHETTY RACHIT                     24      80     184     168     168
   3 ‚îÇ UNASSIGNED CONTROLS A              0       0       0       0       0
   4 ‚îÇ UNASSIGNED CONTROLS B              0       0       0       0       0
   5 ‚îÇ VENKATACHARI SRUTHILAYA          176     160     184     168     168    ‚ãØ
   6 ‚îÇ CHAHLA ABRAHAM                    64       0       0       0       0
   7 ‚îÇ BRIONES JULITA                     0     160     184     168     168
   8 ‚îÇ BORDEN BRADLEY                   176       0      92      84     168
  ‚ãÆ  ‚îÇ              ‚ãÆ                  ‚ãÆ       ‚ãÆ       ‚ãÆ       ‚ãÆ       ‚ãÆ       ‚ã±
  13 ‚îÇ FOMEGANG PELAP DIDIER VALERY     176      80       0      84     168    ‚ãØ
  14 ‚îÇ KRISHNAKUMAR RISHIKUMAR           88       0       4       0     168
  15 ‚îÇ DYER BRENT                       176     160     184     168     168
  16 ‚îÇ SHEN STEVEN                      176     160     184     168     168
  17 ‚îÇ MAHADEVAN SWETHA                 176     160     184     168     168    ‚ãØ
  18 ‚îÇ LAGERMAN ERIC                     10       0       0       0       0
  19 ‚îÇ THOMAS JACOB SUNIL                84      76      92      16      16
                                                   19 columns and 4 rows omitted

In [17]:
Tony = DisciplineLabor("430300", "Higa Anthony");

In [18]:
Brad = DisciplineLabor("430300", "BORDEN BRADLEY");

In [40]:
Viral = DisciplineLabor("430300", "SOLANKI VIRAL");

In [19]:
p154662

(üíº, 154662, Burlington Coat Factory, Make every Project a Success üí™üèª before it even begins!

In [20]:
p154662.FwdHoursForecast.Employee

19-element Vector{String}:
 "ZAHID ZOHAIB"
 "SHETTY RACHIT"
 "UNASSIGNED CONTROLS A"
 "UNASSIGNED CONTROLS B"
 "VENKATACHARI SRUTHILAYA"
 "CHAHLA ABRAHAM"
 "BRIONES JULITA"
 "BORDEN BRADLEY"
 "HIGA ANTHONY"
 "VALENCIA BAUTISTA ANNUAR"
 "RANA MD SHOHEL"
 "SOLANKI VIRAL"
 "FOMEGANG PELAP DIDIER VALERY"
 "KRISHNAKUMAR RISHIKUMAR"
 "DYER BRENT"
 "SHEN STEVEN"
 "MAHADEVAN SWETHA"
 "LAGERMAN ERIC"
 "THOMAS JACOB SUNIL"

In [21]:
p154662.Number

"154662"

In [22]:
_tranfProjToDisciplineDf(p154662, Tony , "HIGA ANTHONY")

1√ó25 DataFrame
 Row ‚îÇ Project  Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month8 ‚ãØ
     ‚îÇ String   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64  ‚ãØ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 154662        0     160       0     168     168     168     136     176 ‚ãØ
                                                              16 columns omitted

In [23]:
_tranfProjToDisciplineDf(p154662, Brad , "BORDEN BRADLEY")

1√ó25 DataFrame
 Row ‚îÇ Project  Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month8 ‚ãØ
     ‚îÇ String   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64  ‚ãØ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 154662      176       0      92      84     168     168     136     176 ‚ãØ
                                                              16 columns omitted

In [41]:
_tranfProjToDisciplineDf(p154662, Viral , "SOLANKI VIRAL")

1√ó25 DataFrame
 Row ‚îÇ Project  Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month8 ‚ãØ
     ‚îÇ String   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64  ‚ãØ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 154662      176     160     184     168     168     168     136     176 ‚ãØ
                                                              16 columns omitted

In [24]:
@show Tony.FwdHoursForecast

Tony.FwdHoursForecast = 1√ó25 DataFrame
 Row ‚îÇ Project  Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month8  Month9  Month10  Month11  Month12  Month13  Month14  Month15  Month16  Month17  Month18  Month19  Month20  Month21  Month22  Month23  Month24
     ‚îÇ String   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 154662        0     160       0     168     168     168     136     176       0      184      168        0        0        0        0        0        0        0        0        0        0        0        0        0

1√ó25 DataFrame
 Row ‚îÇ Project  Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month8 ‚ãØ
     ‚îÇ String   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64  ‚ãØ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 154662        0     160       0     168     168     168     136     176 ‚ãØ
                                                              16 columns omitted

In [25]:
@show Brad.FwdHoursForecast

Brad.FwdHoursForecast = 1√ó25 DataFrame
 Row ‚îÇ Project  Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month8  Month9  Month10  Month11  Month12  Month13  Month14  Month15  Month16  Month17  Month18  Month19  Month20  Month21  Month22  Month23  Month24
     ‚îÇ String   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64    Int64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 154662      176       0      92      84     168     168     136     176     160      184      168      168      176      168      184        0        0        0        0        0        0        0        0        0

1√ó25 DataFrame
 Row ‚îÇ Project  Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month8 ‚ãØ
     ‚îÇ String   Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64  ‚ãØ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 154662      176       0      92      84     168     168     136     176 ‚ãØ
                                                              16 columns omitted

In [26]:
function getProjectNumbers(D::DisciplineLabor)

    return D.Projects #return array of strings with project numbers


end

getProjectNumbers (generic function with 1 method)

In [27]:
function getProjectNumbers(p::Project)

    projects = []; 
    push!(projects, p.Number);
    return projects;

end

getProjectNumbers (generic function with 2 methods)

In [28]:
function getProjectNumbers(t::TeamLabor)

    return t.Projects

end

getProjectNumbers (generic function with 3 methods)

In [29]:
getProjectNumbers(Tony)

1-element Vector{String}:
 "154662"

In [30]:
getProjectNumbers(p154662)

1-element Vector{Any}:
 "154662"

In [31]:
@isdefined Julie

false

In [32]:
function getNamedResources(d::DisciplineLabor)

        names = [];
        push!(names, d.Name);
    
        return names
    
end

getNamedResources (generic function with 1 method)

In [33]:
function getNamedResources(p::Project)

    
    nams = [nams for nams in p.FwdHoursForecast.Employee];
    return nams
        
end

getNamedResources (generic function with 2 methods)

In [34]:
function getNamedResources(t::TeamLabor)
    return t.Employees

end

getNamedResources (generic function with 3 methods)

In [35]:
getNamedResources(Tony)

1-element Vector{Any}:
 "Higa Anthony"

In [36]:
getNamedResources(p154662)

19-element Vector{String}:
 "ZAHID ZOHAIB"
 "SHETTY RACHIT"
 "UNASSIGNED CONTROLS A"
 "UNASSIGNED CONTROLS B"
 "VENKATACHARI SRUTHILAYA"
 "CHAHLA ABRAHAM"
 "BRIONES JULITA"
 "BORDEN BRADLEY"
 "HIGA ANTHONY"
 "VALENCIA BAUTISTA ANNUAR"
 "RANA MD SHOHEL"
 "SOLANKI VIRAL"
 "FOMEGANG PELAP DIDIER VALERY"
 "KRISHNAKUMAR RISHIKUMAR"
 "DYER BRENT"
 "SHEN STEVEN"
 "MAHADEVAN SWETHA"
 "LAGERMAN ERIC"
 "THOMAS JACOB SUNIL"

In [42]:
team1 = Tony + Brad + Viral;

In [43]:
getNamedResources(team1)

3-element Vector{String}:
 "Higa Anthony"
 "BORDEN BRADLEY"
 "SOLANKI VIRAL"