In [57]:
using DataFrames
using ResourceManagement
using DataFrames
using Test
using CSV

mutable struct  DisciplineLaborTest

    


    FwdHoursAvailable::Array        # Fwd Hours Available on a given month.
    FwdHoursForecast::DataFrame         # Array holding Hours Forecasted Fwd monthly(future). Element [1] is the first month forecasted.   
    RevHoursForecast::DataFrame           # Array holding Hours Forecasted Rev monthly (in past). Element [1] is the first month forecasted. 
    RevHoursAvailable::Array        # Array holding Hours Available Rev monthly (in past). Element [1] is the first month forecasted.     

    FwdCostsForecast::Array          # Array holding costs Forecasted Fwd monthly (future)
    RevCostsForecast::Array         # Array holding costs Forecasted Rev  monthly (past)

    RevActualHours::DataFrame        # Array holding Hours incurred Rev monthly (in past). Element [1] is the first month Actual Hours.
    RevActualCostHours::Array     # Array holding Hours in Dollar Amounts incurred Rev monthly (in past)

    Dept::String                        # Department for Discipline

    Name::String                    # name of resource

    Projects::Array                 # Project for Discipline


    """
        DisciplineLabor() 

    Standard Constructor for Discipline Labor.
    ```
    new(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, Array{Float64, 1}(undef, 12), Vector{Vector{Int64}}(), Array{Float64, 1}(undef, 12), Array{Float64, 1}(undef, 12) ,
            Array{Float64, 1}(undef, 12), Array{Float64, 1}(undef, 12), "430300") 
    ```

        DisciplineLabor(Dept, N)
    Detailed Constructor for Discipline Labor. Specifies Dept and number of months to hold forecast and actuals (N)


    # Examples
    ```julia
    CE = DisciplineLabor()

    ```
    """
    function DisciplineLaborTest()      # standard constructor supplied, all zerors, with 24 months array as default 


        
        new(Array{Float64, 1}(), DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
        Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
        Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
        Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
        Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
        ,
         DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
         Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
            Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
            Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
            Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
            Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
         , Array{Float64, 2}(undef, 24, 24),  Array{Float64, 2}(undef, 24, 24), Array{Float64, 2}(undef, 24,24) ,
        DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
           Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
           Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
           Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
           Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
           , Array{Float64, 2}(undef, 24, 24), "430300","", Array{String, 1}())


    end
end

In [58]:
df = ReadLaborTracker("C:\\Users\\junqueg\\Documents\\My Documents\\15. Programming\\Projects\\ResourceManagement.jl\\src\\TEAM_PLANNED_FWD24_NOV.csv");

In [59]:
first(df,5)

5×79 DataFrame
 Row │ Department             Project   Description                     Networ ⋯
     │ String31               String15  String63?                       String ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 430300 ENG - Controls  142270    Pandora II (Fairburn, GA)       N14227 ⋯
   2 │ 430300 ENG - Controls  144553    Dot Foods - Mount Sterling, IL  N14455
   3 │ 430300 ENG - Controls  144553    Dot Foods - Mount Sterling, IL  N14455
   4 │ 430300 ENG - Controls  144553    Dot Foods - Mount Sterling, IL  N14455
   5 │ 430300 ENG - Controls  146391    Services-CDN# 146355-Ssense     N14639 ⋯
                                                              76 columns omitted

In [37]:
function _getEmployeeHoursFromDf(df::DataFrame, name::String, m::Int, col::Symbol)

    if col == :plan
        startcol = 9 #this matchs for both Fwd and Rev Sap Report
    elseif col == :actual
        startcol = 8
    else 
        startcol = 9 #defaults to plan
    end
    


    filter = (df."Employee Name").==name
    df = df[filter,:]
    cols = [startcol+3*cols for cols in 0: m-1]
    numbercols = [numbercols for numbercols in 2:m ]

    dfg = groupby(df, :"Project");
    

    dfg_hours_per_month_per_name = combine(dfg, cols .=>sum)

    return dfg_hours_per_month_per_name
end

_getEmployeeHoursFromDf (generic function with 1 method)

In [60]:
t = _getEmployeeHoursFromDf(df, "HIGA ANTHONY", 24, :plan)

7×25 DataFrame
 Row │ Project   NOV/2021 Planned_sum  DEC/2021 Planned_sum  JAN/2022 Planned_ ⋯
     │ String15  Int64                 Int64                 Int64             ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 150171                      40                     0                    ⋯
   2 │ 152242                       0                     0
   3 │ 153804                       0                     0
   4 │ 154558                     120                    80
   5 │ 154662                       0                     0                    ⋯
   6 │ IND-43                       0                     0
   7 │ NZ430300                     8                    40
                                                              22 columns omitted

In [70]:
t

7×25 DataFrame
 Row │ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month ⋯
     │ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 150171        40       0       0       0       0       0       0        ⋯
   2 │ 152242         0       0       0       0       0       0     168     10
   3 │ 153804         0       0     120     120       0       0       0
   4 │ 154558       120      80       0       0       0       0       0
   5 │ 154662         0       0       0       0     184     168       0        ⋯
   6 │ IND-43         0       0       0       0       0       0       0
   7 │ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [83]:
function fetchAndWritePlannedHours2!(df::DataFrame, name::String, m::Int, D::DisciplineLaborTest, target::Symbol)

    df2 = _getEmployeeHoursFromDf(df, name, m, :plan)
    rename!(df2, names(df2) .=> names(D.FwdHoursForecast))
    
    try
        
        [push!(D.Projects, p) for p in df2.Project if p ∉ D.Projects];
    catch
        @warn("undefined Projects")
    end

    if target == :fwd
        append!(D.FwdHoursForecast, df2, cols = :intersect)
    elseif target == :rev
        D.RevHoursForecast = copy(df2)
    end
    
   
    
    return D
end

fetchAndWritePlannedHours2! (generic function with 1 method)

In [84]:
fetchAndWritePlannedHours2!(df, "HIGA ANTHONY", 24, Tony, :fwd);

In [73]:
########################################################################################################################

t

7×25 DataFrame
 Row │ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month ⋯
     │ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 150171        40       0       0       0       0       0       0        ⋯
   2 │ 152242         0       0       0       0       0       0     168     10
   3 │ 153804         0       0     120     120       0       0       0
   4 │ 154558       120      80       0       0       0       0       0
   5 │ 154662         0       0       0       0     184     168       0        ⋯
   6 │ IND-43         0       0       0       0       0       0       0
   7 │ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [85]:
Tony.FwdHoursForecast

7×25 DataFrame
 Row │ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month ⋯
     │ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 150171        40       0       0       0       0       0       0        ⋯
   2 │ 152242         0       0       0       0       0       0     168     10
   3 │ 153804         0       0     120     120       0       0       0
   4 │ 154558       120      80       0       0       0       0       0
   5 │ 154662         0       0       0       0     184     168       0        ⋯
   6 │ IND-43         0       0       0       0       0       0       0
   7 │ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [62]:
t |> names

25-element Vector{String}:
 "Project"
 "NOV/2021 Planned_sum"
 "DEC/2021 Planned_sum"
 "JAN/2022 Planned_sum"
 "FEB/2022 Planned_sum"
 "MAR/2022 Planned_sum"
 "APR/2022 Planned_sum"
 "MAY/2022 Planned_sum"
 "JUN/2022 Planned_sum"
 "JUL/2022 Planned_sum"
 ⋮
 "FEB/2023 Planned_sum"
 "MAR/2023 Planned_sum"
 "APR/2023 Planned_sum"
 "MAY/2023 Planned_sum"
 "JUN/2023 Planned_sum"
 "JUL/2023 Planned_sum"
 "AUG/2023 Planned_sum"
 "SEP/2023 Planned_sum"
 "OCT/2023 Planned_sum"

In [74]:
Tony = DisciplineLaborTest()

DisciplineLaborTest(Float64[], 0×25 DataFrame, 0×25 DataFrame, [1.226622052892856e-274 7.852156035702361e-134 … 1.143373358e-314 1.1433739507e-314; 4.9744312902769415e-222 -1.421646062593644e-37 … 1.1433733816e-314 1.1433739744e-314; … ; 5.8817673602944116e60 1.7627962434854877e214 … 1.1433738796e-314 1.1433748993e-314; 1.3092415694083875e-238 1.7871700681040032e161 … 1.1433739033e-314 1.143374923e-314], [0.0 5.0e-324 … 0.0 2.1219957905e-314; 0.0 1.183856267e-314 … 0.0 0.0; … ; 1.1838566226e-314 8.487983164e-314 … 0.0 1.1929120474e-314; 1.168240504e-314 0.0 … 0.0 1.2e-322], [0.0 0.0 … 0.0 1.65782186e-316; 2.327820883e-315 9.014338e-316 … 0.0 0.0; … ; 0.0 0.0 … 0.0 2.0e-321; 0.0 1.399131696e-315 … 1.399131696e-315 6.3325145e-317], 0×25 DataFrame, [1.213122621e-314 0.0 … 0.0 0.0; 0.0 1.399131696e-315 … 1.39950031e-315 0.0; … ; 0.0 1.39950031e-315 … 4.243991582e-314 1.213118858e-314; 0.0 0.0 … 0.0 0.0], "430300", "", String[])

In [67]:
Tony.FwdHoursForecast

0×25 DataFrame

In [52]:
append!(Tony.FwdHoursForecast, t, cols = :intersect)

7×2 DataFrame
 Row │ Project   Month1
     │ String15  Int64
─────┼──────────────────
   1 │ 150171        40
   2 │ 152242         0
   3 │ 153804         0
   4 │ 154558       120
   5 │ 154662         0
   6 │ IND-43         0
   7 │ NZ430300       8

In [31]:
append!([t[:,2]], [Tony.FwdHoursForecast.Month1])

2-element Vector{Vector{Int64}}:
 [40, 0, 0, 120, 0, 0, 8]
 []

In [53]:
Tony.FwdHoursForecast

7×2 DataFrame
 Row │ Project   Month1
     │ String15  Int64
─────┼──────────────────
   1 │ 150171        40
   2 │ 152242         0
   3 │ 153804         0
   4 │ 154558       120
   5 │ 154662         0
   6 │ IND-43         0
   7 │ NZ430300       8

In [68]:
rename!(t, names(t) .=> names(Tony.FwdHoursForecast))

7×25 DataFrame
 Row │ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month ⋯
     │ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 150171        40       0       0       0       0       0       0        ⋯
   2 │ 152242         0       0       0       0       0       0     168     10
   3 │ 153804         0       0     120     120       0       0       0
   4 │ 154558       120      80       0       0       0       0       0
   5 │ 154662         0       0       0       0     184     168       0        ⋯
   6 │ IND-43         0       0       0       0       0       0       0
   7 │ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [69]:
t

7×25 DataFrame
 Row │ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month ⋯
     │ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 150171        40       0       0       0       0       0       0        ⋯
   2 │ 152242         0       0       0       0       0       0     168     10
   3 │ 153804         0       0     120     120       0       0       0
   4 │ 154558       120      80       0       0       0       0       0
   5 │ 154662         0       0       0       0     184     168       0        ⋯
   6 │ IND-43         0       0       0       0       0       0       0
   7 │ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [33]:
collect(t.Project)

7-element Vector{String15}:
 "150171"
 "152242"
 "153804"
 "154558"
 "154662"
 "IND-43"
 "NZ430300"

In [1]:
+(1,2)

3

In [2]:
a = (1,2)

(1, 2)

In [5]:
+(a...)

3