In [2]:
using DataFrames
using ResourceManagement
using DataFrames
using Test
using CSV

mutable struct  DisciplineLaborTest

    


    FwdHoursAvailable::Array        # Fwd Hours Available on a given month.
    FwdHoursForecast::DataFrame         # Array holding Hours Forecasted Fwd monthly(future). Element [1] is the first month forecasted.   
    RevHoursForecast::DataFrame           # Array holding Hours Forecasted Rev monthly (in past). Element [1] is the first month forecasted. 
    RevHoursAvailable::Array        # Array holding Hours Available Rev monthly (in past). Element [1] is the first month forecasted.     

    FwdCostsForecast::Array          # Array holding costs Forecasted Fwd monthly (future)
    RevCostsForecast::Array         # Array holding costs Forecasted Rev  monthly (past)

    RevActualHours::DataFrame        # Array holding Hours incurred Rev monthly (in past). Element [1] is the first month Actual Hours.
    RevActualCostHours::Array     # Array holding Hours in Dollar Amounts incurred Rev monthly (in past)

    Dept::String                        # Department for Discipline

    Name::String                    # name of resource

    Projects::Array                 # Project for Discipline


    """
        DisciplineLabor() 

    Standard Constructor for Discipline Labor.
    

        DisciplineLabor(Dept, N)
    Detailed Constructor for Discipline Labor. Specifies Dept and number of months to hold forecast and actuals (N)


    # Examples
    ```julia
    CE = DisciplineLabor()

    ```
    """
    function DisciplineLaborTest()      # standard constructor supplied, all zerors, with 24 months array as default 


        
        new(Array{Float64, 1}(), DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
        Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
        Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
        Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
        Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
        ,
         DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
         Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
            Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
            Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
            Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
            Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
         , Array{Float64, 2}(undef, 24, 24),  Array{Float64, 2}(undef, 24, 24), Array{Float64, 2}(undef, 24,24) ,
        DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
           Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
           Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
           Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
           Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
           , Array{Float64, 2}(undef, 24, 24), "430300","", Array{String, 1}())


    end



    """
        DisciplineLabor(Dept::String, Name::String) 

    Standard Constructor for Discipline Labor.
    

        DisciplineLabor(Dept, N)
    Detailed Constructor for Discipline Labor. Specifies Dept and number of months to hold forecast and actuals (N)


    # Examples
    ```julia
    CE = DisciplineLabor()

    ```
    """
    function DisciplineLaborTest(Dept::String, Name::String)      # standard constructor supplied, all zerors, with 24 months array as default 


        
        new(Array{Float64, 1}(), DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
        Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
        Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
        Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
        Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
        ,
         DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
         Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
            Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
            Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
            Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
            Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
         , Array{Float64, 2}(undef, 24, 24),  Array{Float64, 2}(undef, 24, 24), Array{Float64, 2}(undef, 24,24) ,
        DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
           Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
           Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
           Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
           Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
           , Array{Float64, 2}(undef, 24, 24), Dept,Name, Array{String, 1}())


    end







end

In [3]:
df = ReadLaborTracker("C:\\Users\\junqueg\\OneDrive - dematic.com\\MyDocuments_BackUp\\15. Programming\\Projects\\ResourceManagement.jl\\src\\TEAM_PLANNED_FWD24_NOV.csv");

In [4]:
first(df,5)

5Ã—79 DataFrame
 Row â”‚ Department             Project   Description                     Networ â‹¯
     â”‚ String31               String15  String63?                       String â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 430300 ENG - Controls  142270    Pandora II (Fairburn, GA)       N14227 â‹¯
   2 â”‚ 430300 ENG - Controls  144553    Dot Foods - Mount Sterling, IL  N14455
   3 â”‚ 430300 ENG - Controls  144553    Dot Foods - Mount Sterling, IL  N14455
   4 â”‚ 430300 ENG - Controls  144553    Dot Foods - Mount Sterling, IL  N14455
   5 â”‚ 430300 ENG - Controls  146391    Services-CDN# 146355-Ssense     N14639 â‹¯
                                                              76 columns omitted

In [5]:
function _getEmployeeHoursFromDf(df::DataFrame, name::String, col::Symbol, m::Int=24)

    if col == :plan
        startcol = 9 #this matchs for both Fwd and Rev Sap Report
    elseif col == :actual
        startcol = 8
    else 
        startcol = 9 #defaults to plan
    end
    


    filter = (df."Employee Name").==name
    df = df[filter,:]
    cols = [startcol+3*cols for cols in 0: m-1]
    numbercols = [numbercols for numbercols in 2:m ]

    dfg = groupby(df, :"Project");
    

    dfg_hours_per_month_per_name = combine(dfg, cols .=>sum)

    return dfg_hours_per_month_per_name
end

_getEmployeeHoursFromDf (generic function with 2 methods)

In [6]:
t = _getEmployeeHoursFromDf(df, "HIGA ANTHONY", :plan) #default m=24 months

7Ã—25 DataFrame
 Row â”‚ Project   NOV/2021 Planned_sum  DEC/2021 Planned_sum  JAN/2022 Planned_ â‹¯
     â”‚ String15  Int64                 Int64                 Int64             â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171                      40                     0                    â‹¯
   2 â”‚ 152242                       0                     0
   3 â”‚ 153804                       0                     0
   4 â”‚ 154558                     120                    80
   5 â”‚ 154662                       0                     0                    â‹¯
   6 â”‚ IND-43                       0                     0
   7 â”‚ NZ430300                     8                    40
                                                              22 columns omitted

In [7]:
t

7Ã—25 DataFrame
 Row â”‚ Project   NOV/2021 Planned_sum  DEC/2021 Planned_sum  JAN/2022 Planned_ â‹¯
     â”‚ String15  Int64                 Int64                 Int64             â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171                      40                     0                    â‹¯
   2 â”‚ 152242                       0                     0
   3 â”‚ 153804                       0                     0
   4 â”‚ 154558                     120                    80
   5 â”‚ 154662                       0                     0                    â‹¯
   6 â”‚ IND-43                       0                     0
   7 â”‚ NZ430300                     8                    40
                                                              22 columns omitted

In [8]:
function fetchAndWritePlannedHours2!(df::DataFrame, name::String, D::DisciplineLaborTest, target::Symbol, m::Int=24)

    df2 = _getEmployeeHoursFromDf(df, name, :plan, m)
    rename!(df2, names(df2) .=> names(D.FwdHoursForecast))
    
    try
        
        [push!(D.Projects, p) for p in df2.Project if p âˆ‰ D.Projects];
    catch
        @warn("undefined Projects")
    end

    if target == :fwd
        append!(D.FwdHoursForecast, df2, cols = :intersect)
    elseif target == :rev
        D.RevHoursForecast = copy(df2)
    end
    
   
    
    return D
end

fetchAndWritePlannedHours2! (generic function with 2 methods)

In [9]:
Tony = DisciplineLaborTest()

DisciplineLaborTest(Float64[], 0Ã—25 DataFrame, 0Ã—25 DataFrame, [1.3165819157e-314 2.1219956645e-314 â€¦ 3.083e-321 3.5e-323; 9.1229016e-316 1.3165823465e-314 â€¦ 2.30343332202e-312 3.04e-321; â€¦ ; 4.0e-323 9.1030366e-316 â€¦ 1.3165850975e-314 0.0; 1.229e-320 3.5e-323 â€¦ 9.1030366e-316 0.0], [9.0952857e-316 9.0952857e-316 â€¦ 9.0964766e-316 9.09653667e-316; 9.0952857e-316 9.0952857e-316 â€¦ 9.09647976e-316 9.09653984e-316; â€¦ ; 9.09530665e-316 9.0953541e-316 â€¦ 9.09653035e-316 0.0; 9.09530665e-316 9.0953541e-316 â€¦ 9.0965335e-316 0.0], [0.0 0.0 â€¦ 0.0 0.0; 0.0 0.0 â€¦ 0.0 0.0; â€¦ ; 0.0 0.0 â€¦ 0.0 0.0; 0.0 0.0 â€¦ 0.0 0.0], 0Ã—25 DataFrame, [0.0 0.0 â€¦ 0.0 0.0; 0.0 0.0 â€¦ 0.0 0.0; â€¦ ; 0.0 0.0 â€¦ 0.0 0.0; 0.0 0.0 â€¦ 0.0 0.0], "430300", "", String[])

In [24]:
Tony2 = DisciplineLaborTest("430300", "Anthony Higa", 24)

MethodError: MethodError: no method matching DisciplineLaborTest(::String, ::String, ::Int64)
Closest candidates are:
  DisciplineLaborTest(::String, ::String) at c:\Users\junqueg\OneDrive - dematic.com\MyDocuments_BackUp\15. Programming\Projects\ResourceManagement.jl\src\sketchpad.ipynb:93

In [18]:
Tony2.Dept

"430300"

In [19]:
Tony2.Name

"Anthony Higa"

In [20]:
fetchAndWritePlannedHours2!(df, "HIGA ANTHONY", Tony, :fwd);

In [21]:
fetchAndWritePlannedHours2!(df, "HIGA ANTHONY", Tony2, :fwd);

In [23]:
Tony2.FwdHoursForecast

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [41]:
########################################################################################################################

t

7Ã—25 DataFrame
 Row â”‚ Project   NOV/2021 Planned_sum  DEC/2021 Planned_sum  JAN/2022 Planned_ â‹¯
     â”‚ String15  Int64                 Int64                 Int64             â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171                      40                     0                    â‹¯
   2 â”‚ 152242                       0                     0
   3 â”‚ 153804                       0                     0
   4 â”‚ 154558                     120                    80
   5 â”‚ 154662                       0                     0                    â‹¯
   6 â”‚ IND-43                       0                     0
   7 â”‚ NZ430300                     8                    40
                                                              22 columns omitted

In [42]:
Tony.FwdHoursForecast

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [43]:
t |> names

25-element Vector{String}:
 "Project"
 "NOV/2021 Planned_sum"
 "DEC/2021 Planned_sum"
 "JAN/2022 Planned_sum"
 "FEB/2022 Planned_sum"
 "MAR/2022 Planned_sum"
 "APR/2022 Planned_sum"
 "MAY/2022 Planned_sum"
 "JUN/2022 Planned_sum"
 "JUL/2022 Planned_sum"
 â‹®
 "FEB/2023 Planned_sum"
 "MAR/2023 Planned_sum"
 "APR/2023 Planned_sum"
 "MAY/2023 Planned_sum"
 "JUN/2023 Planned_sum"
 "JUL/2023 Planned_sum"
 "AUG/2023 Planned_sum"
 "SEP/2023 Planned_sum"
 "OCT/2023 Planned_sum"

In [45]:
Tony.FwdHoursForecast

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [52]:
append!(Tony.FwdHoursForecast, t, cols = :intersect)

7Ã—2 DataFrame
 Row â”‚ Project   Month1
     â”‚ String15  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40
   2 â”‚ 152242         0
   3 â”‚ 153804         0
   4 â”‚ 154558       120
   5 â”‚ 154662         0
   6 â”‚ IND-43         0
   7 â”‚ NZ430300       8

In [31]:
append!([t[:,2]], [Tony.FwdHoursForecast.Month1])

2-element Vector{Vector{Int64}}:
 [40, 0, 0, 120, 0, 0, 8]
 []

In [27]:
Tony.FwdHoursForecast

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [68]:
rename!(t, names(t) .=> names(Tony.FwdHoursForecast))

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [69]:
t

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [33]:
collect(t.Project)

7-element Vector{String15}:
 "150171"
 "152242"
 "153804"
 "154558"
 "154662"
 "IND-43"
 "NZ430300"

In [1]:
+(1,2)

3

In [2]:
a = (1,2)

(1, 2)

In [5]:
+(a...)

3