In [11]:
using DataFrames
using ResourceManagement
using DataFrames
using Test
using CSV

mutable struct  DisciplineLaborTest

    


    FwdHoursAvailable::Array        # Fwd Hours Available on a given month.
    FwdHoursForecast::DataFrame         # Array holding Hours Forecasted Fwd monthly(future). Element [1] is the first month forecasted.   
    RevHoursForecast::DataFrame           # Array holding Hours Forecasted Rev monthly (in past). Element [1] is the first month forecasted. 
    RevHoursAvailable::Array        # Array holding Hours Available Rev monthly (in past). Element [1] is the first month forecasted.     

    FwdCostsForecast::Array          # Array holding costs Forecasted Fwd monthly (future)
    RevCostsForecast::Array         # Array holding costs Forecasted Rev  monthly (past)

    RevActualHours::DataFrame        # Array holding Hours incurred Rev monthly (in past). Element [1] is the first month Actual Hours.
    RevActualCostHours::Array     # Array holding Hours in Dollar Amounts incurred Rev monthly (in past)

    Dept::String                        # Department for Discipline

    Name::String                    # name of resource

    Projects::Array                 # Project for Discipline


    """
        DisciplineLabor() 

    Standard Constructor for Discipline Labor.
    

        DisciplineLabor(Dept, N)
    Detailed Constructor for Discipline Labor. Specifies Dept and number of months to hold forecast and actuals (N)


    # Examples
    ```julia
    CE = DisciplineLabor()

    ```
    """
    function DisciplineLaborTest()      # standard constructor supplied, all zerors, with 24 months array as default 


        
        new(Array{Float64, 1}(), DataFrame(Project=  Array{String15,1}(), Network=  Array{String15,1}(), Task = Array{Int64, 1}() ,Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
        Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
        Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
        Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
        Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
        ,
         DataFrame(Project=  Array{String15,1}(), Network=  Array{String15,1}(), Task = Array{Int64, 1}() , Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
         Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
            Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
            Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
            Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
            Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
         , Array{Float64, 2}(undef, 24, 24),  Array{Float64, 2}(undef, 24, 24), Array{Float64, 2}(undef, 24,24) ,
        DataFrame(Project=  Array{String15,1}(), Network=  Array{String15,1}(), Task = Array{Int64, 1}() ,Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
           Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
           Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
           Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
           Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
           , Array{Float64, 2}(undef, 24, 24), "430300","", Array{String, 1}())


    end



    """
        DisciplineLabor(Dept::String, Name::String) 

    Standard Constructor for Discipline Labor.
    

        DisciplineLabor(Dept, N)
    Detailed Constructor for Discipline Labor. Specifies Dept and number of months to hold forecast and actuals (N)


    # Examples
    ```julia
    CE = DisciplineLabor()

    ```
    """
    function DisciplineLaborTest(Dept::String, Name::String)      # standard constructor supplied, all zerors, with 24 months array as default 


        
        new(Array{Float64, 1}(), DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
        Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
        Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
        Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
        Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
        ,
         DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
         Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
            Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
            Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
            Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
            Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
         , Array{Float64, 2}(undef, 24, 24),  Array{Float64, 2}(undef, 24, 24), Array{Float64, 2}(undef, 24,24) ,
        DataFrame(Project=  Array{String15,1}(), Month1 = Array{Int64, 1}(), Month2 = Array{Int64, 1}(), Month3 = Array{Int64, 1}(),
        Month4 = Array{Int64, 1}(), Month5 = Array{Int64, 1}(), Month6 = Array{Int64, 1}(), Month7 = Array{Int64, 1}(), Month8 = Array{Int64, 1}(),
           Month9 = Array{Int64, 1}(), Month10 = Array{Int64, 1}(), Month11 = Array{Int64, 1}(), Month12 = Array{Int64, 1}(),
           Month13 = Array{Int64, 1}(), Month14 = Array{Int64, 1}(), Month15 = Array{Int64, 1}(), Month16 = Array{Int64, 1}(), Month17 = Array{Int64, 1}(),
           Month18 = Array{Int64, 1}(), Month19 = Array{Int64, 1}(), Month20 = Array{Int64, 1}(), Month21 = Array{Int64, 1}(), Month22 = Array{Int64, 1}(),
           Month23 = Array{Int64, 1}(), Month24 = Array{Int64, 1}())
           , Array{Float64, 2}(undef, 24, 24), Dept,Name, Array{String, 1}())


    end







end

In [12]:
df = ReadLaborTracker("C:\\Users\\junqueg\\OneDrive - dematic.com\\MyDocuments_BackUp\\15. Programming\\Projects\\ResourceManagement.jl\\src\\TEAM_PLANNED_FWD24_NOV.csv");

In [13]:
df[:, 5:15]

137Ã—11 DataFrame
 Row â”‚ Task   Employee No  Employee Name                 NOV/2021 Actual  NOV/ â‹¯
     â”‚ Int64  Int64        String31                      Int64            Int6 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  2081     60000650  DYER BRENT                                  0       â‹¯
   2 â”‚  2020     60000650  DYER BRENT                                  0
   3 â”‚  2050     60000650  DYER BRENT                                 83
   4 â”‚  2052     60000650  DYER BRENT                                 40
   5 â”‚  2022     60000190  SOLANKI VIRAL                               8       â‹¯
   6 â”‚  2050     60000190  SOLANKI VIRAL                              24
   7 â”‚  2080     60000190  SOLANKI VIRAL                              24
   8 â”‚  2081     60000190  SOLANKI VIRAL                               0
  â‹®  â”‚   â‹®         â‹®                    â‹®                       â‹®              â‹±
 131 â”‚    40     60000190  SOLANKI VIRAL                              24       â‹¯
 132 â”‚    40     60000358  FOMEGANG PELAP DIDIER VALERY                0
 133 â”‚    40     60000462  KRISHNAKUMAR RISHIKUMAR                     0
 134 â”‚    40     60000650  DYER BRENT                                 20
 135 â”‚    40     60001025  SHEN STEVEN                                 0       â‹¯
 136 â”‚    50        11612  SHETTY RACHIT                              11
 137 â”‚   111     50093610  VENKATACHARI SRUTHILAYA                     0
                                                  7 columns and 122 rows omitted

In [14]:
first(df,5)

5Ã—79 DataFrame
 Row â”‚ Department             Project   Description                     Networ â‹¯
     â”‚ String31               String15  String63?                       String â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 430300 ENG - Controls  142270    Pandora II (Fairburn, GA)       N14227 â‹¯
   2 â”‚ 430300 ENG - Controls  144553    Dot Foods - Mount Sterling, IL  N14455
   3 â”‚ 430300 ENG - Controls  144553    Dot Foods - Mount Sterling, IL  N14455
   4 â”‚ 430300 ENG - Controls  144553    Dot Foods - Mount Sterling, IL  N14455
   5 â”‚ 430300 ENG - Controls  146391    Services-CDN# 146355-Ssense     N14639 â‹¯
                                                              76 columns omitted

In [15]:
for nam in names(df)
    println(nam)
end

Department
Project
Description
Network
Task
Employee No
Employee Name
NOV/2021 Actual
NOV/2021 Planned
NOV/2021 Difference
DEC/2021 Actual
DEC/2021 Planned
DEC/2021 Difference
JAN/2022 Actual
JAN/2022 Planned
JAN/2022 Difference
FEB/2022 Actual
FEB/2022 Planned
FEB/2022 Difference
MAR/2022 Actual
MAR/2022 Planned
MAR/2022 Difference
APR/2022 Actual
APR/2022 Planned
APR/2022 Difference
MAY/2022 Actual
MAY/2022 Planned
MAY/2022 Difference
JUN/2022 Actual
JUN/2022 Planned
JUN/2022 Difference
JUL/2022 Actual
JUL/2022 Planned
JUL/2022 Difference
AUG/2022 Actual
AUG/2022 Planned
AUG/2022 Difference
SEP/2022 Actual
SEP/2022 Planned
SEP/2022 Difference
OCT/2022 Actual
OCT/2022 Planned
OCT/2022 Difference
NOV/2022 Actual
NOV/2022 Planned
NOV/2022 Difference
DEC/2022 Actual
DEC/2022 Planned
DEC/2022 Difference
JAN/2023 Actual
JAN/2023 Planned
JAN/2023 Difference
FEB/2023 Actual
FEB/2023 Planned
FEB/2023 Difference
MAR/2023 Actual
MAR/2023 Planned
MAR/2023 Difference
APR/2023 Actual
APR/2023 Planned
APR/2023 Difference
MAY/2023 Actual
MAY/2023 Planned
MAY/2023 Difference
JUN/2023 Actual
JUN/2023 Planned
JUN/2023 Difference
JUL/2023 Actual
JUL/2023 Planned
JUL/2023 Difference
AUG/2023 Actual
AUG/2023 Planned
AUG/2023 Difference
SEP/2023 Actual
SEP/2023 Planned
SEP/2023 Difference
OCT/2023 Actual
OCT/2023 Planned
OCT/2023 Difference

In [16]:
function _getEmployeeHoursFromDf(df::DataFrame, name::String, col::Symbol, m::Int=24)

    if col == :plan
        startcol = 9 #this matchs for both Fwd and Rev Sap Report
    elseif col == :actual
        startcol = 8
    else 
        startcol = 9 #defaults to plan
    end
    


    filter = (df."Employee Name").==name
    df = df[filter,:]
    cols = [startcol+3*cols for cols in 0: m-1]
    numbercols = [numbercols for numbercols in 2:m ]

    dfg = groupby(df, [:"Project", :"Network", :"Task"]);
    

    dfg_hours_per_month_per_name = combine(dfg, cols .=>sum)

    return dfg_hours_per_month_per_name
end

_getEmployeeHoursFromDf (generic function with 2 methods)

In [17]:
t = _getEmployeeHoursFromDf(df, "HIGA ANTHONY", :plan) #default m=24 months

10Ã—27 DataFrame
 Row â”‚ Project   Network      Task   NOV/2021 Planned_sum  DEC/2021 Planned_su â‹¯
     â”‚ String15  String15     Int64  Int64                 Int64               â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171    N150171-NB    2000                    40                      â‹¯
   2 â”‚ 152242    N152242-02    2081                     0
   3 â”‚ 153804    N153804-02    2081                     0
   4 â”‚ 154558    N154558-02    2020                   120                    8
   5 â”‚ 154558    N154558-02    2050                     0                      â‹¯
   6 â”‚ 154662    N154662-02    2000                     0
   7 â”‚ IND-43    NZ430300-00     20                     0
   8 â”‚ IND-43    NZ430300-00     50                     0
   9 â”‚ NZ430300  NZ430300-00     31                     8                      â‹¯
  10 â”‚ NZ430300  NZ430300-00     40                     0                    4
                                                              23 columns omitted

In [18]:
t

10Ã—27 DataFrame
 Row â”‚ Project   Network      Task   NOV/2021 Planned_sum  DEC/2021 Planned_su â‹¯
     â”‚ String15  String15     Int64  Int64                 Int64               â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171    N150171-NB    2000                    40                      â‹¯
   2 â”‚ 152242    N152242-02    2081                     0
   3 â”‚ 153804    N153804-02    2081                     0
   4 â”‚ 154558    N154558-02    2020                   120                    8
   5 â”‚ 154558    N154558-02    2050                     0                      â‹¯
   6 â”‚ 154662    N154662-02    2000                     0
   7 â”‚ IND-43    NZ430300-00     20                     0
   8 â”‚ IND-43    NZ430300-00     50                     0
   9 â”‚ NZ430300  NZ430300-00     31                     8                      â‹¯
  10 â”‚ NZ430300  NZ430300-00     40                     0                    4
                                                              23 columns omitted

In [19]:
function fetchAndWritePlannedHours2!(df::DataFrame, name::String, D::DisciplineLaborTest, target::Symbol, m::Int=24)

    df2 = _getEmployeeHoursFromDf(df, name, :plan, m)
    rename!(df2, names(df2) .=> names(D.FwdHoursForecast))
    
    try
        
        [push!(D.Projects, p) for p in df2.Project if p âˆ‰ D.Projects];
    catch
        @warn("undefined Projects")
    end

    if target == :fwd
        append!(D.FwdHoursForecast, df2, cols = :intersect)
    elseif target == :rev
        D.RevHoursForecast = copy(df2)
    end
    
   
    
    return D
end

fetchAndWritePlannedHours2! (generic function with 2 methods)

In [20]:
Tony = DisciplineLaborTest()

DisciplineLaborTest(Float64[], 0Ã—27 DataFrame, 0Ã—27 DataFrame, [-5.87747455983167e-39 -2.277425302554542e17 â€¦ 9.03218324e-316 9.03225913e-316; 4.611815054451001e43 8.531701000409265e-269 â€¦ 9.0321864e-316 9.0322623e-316; â€¦ ; 1.9028592405004664e-72 1.3853481937768665e134 â€¦ 9.0322528e-316 9.03052753e-316; 3.782287284846024e-309 1.0841382290721149e146 â€¦ 9.03052753e-316 9.03052753e-316], [1.2255816363e-314 1.2276659767e-314 â€¦ 9.03827843e-316 1.2076304923e-314; 4.0e-323 1.2276659767e-314 â€¦ 3.5e-323 9.03827843e-316; â€¦ ; 0.0 NaN â€¦ 3.034e-321 2.1219957905e-314; 0.0 0.0 â€¦ 2.35541532797e-312 0.0], [9.97338021986e-313 2.1219957914e-313 â€¦ 0.0 0.0; 1.294417432756e-312 2.33419537426e-313 â€¦ 0.0 0.0; â€¦ ; 3.0e-323 2.482735076007e-312 â€¦ 0.0 0.0; 1.6975966369e-313 2.54639494974e-312 â€¦ 0.0 0.0], 0Ã—27 DataFrame, [0.0 0.0 â€¦ 0.0 NaN; 1.162038743e-314 0.0 â€¦ 1.16204083e-314 2.1219957905e-314; â€¦ ; 0.0 1.162038909e-314 â€¦ 0.0 0.0; 5.0e-324 0.0 â€¦ 0.0 1.162040992e-314], "430300", "", String[])

In [21]:
Tony.FwdHoursForecast

0Ã—27 DataFrame

In [22]:
for na in names(Tony.FwdHoursForecast)
    println(na)
end

Project
Network
Task
Month1
Month2
Month3
Month4
Month5
Month6
Month7
Month8
Month9
Month10
Month11
Month12
Month13
Month14
Month15
Month16
Month17
Month18
Month19
Month20
Month21
Month22
Month23
Month24

In [23]:
Julie = DisciplineLaborTest()

DisciplineLaborTest(Float64[], 0Ã—27 DataFrame, 0Ã—27 DataFrame, [9.34e-322 7.884378455060531e291 â€¦ 8.487983164e-314 0.0; 2.1810600841198036e70 -1.8005683406214716e-153 â€¦ 0.0 0.0; â€¦ ; -2.277425302554542e17 1.619387284e-314 â€¦ NaN 0.0; 8.531701000409265e-269 0.0 â€¦ 2.1219957905e-314 1.1620289644e-314], [0.0 0.0 â€¦ 0.0 NaN; 1.162029099e-314 0.0 â€¦ 1.1620311857e-314 2.1219957905e-314; â€¦ ; 0.0 1.162029265e-314 â€¦ 0.0 9.8e-322; 5.0e-324 0.0 â€¦ 0.0 1.1652558415e-314], [1.406351853e-315 1.4086074e-315 â€¦ 1.401119263e-315 0.0; 1.413477544e-315 1.4086074e-315 â€¦ 1.400314924e-315 0.0; â€¦ ; 1.406402445e-315 1.417350466e-315 â€¦ 0.0 0.0; 1.400314924e-315 1.40075065e-315 â€¦ 0.0 0.0], 0Ã—27 DataFrame, [1.162041067e-314 0.0 â€¦ 0.0 0.0; 0.0 1.0e-323 â€¦ 0.0 0.0; â€¦ ; 0.0 5.0e-324 â€¦ 0.0 2.1219957905e-314; 0.0 1.159886336e-314 â€¦ 0.0 0.0], "430300", "", String[])

In [22]:
Tony2 = DisciplineLaborTest("430300", "Anthony Higa")

DisciplineLaborTest(Float64[], 0Ã—25 DataFrame, 0Ã—25 DataFrame, [0.0 2.121995792e-314 â€¦ 1.07928759e-315 1.079299447e-315; 0.0 1.224451989e-314 â€¦ 1.079287826e-315 1.07929992e-315; â€¦ ; 1.2279547087e-314 0.0 â€¦ 1.07929897e-315 0.0; 1.2279547087e-314 0.0 â€¦ 1.07929921e-315 0.0], [1.224449143e-314 1.227954535e-314 â€¦ 1.07928759e-315 1.079299447e-315; NaN 1.229143806e-314 â€¦ 1.079287826e-315 1.07929992e-315; â€¦ ; 0.0 NaN â€¦ 1.07929897e-315 9.1729955e-316; 0.0 0.0 â€¦ 1.07929921e-315 8.06358400755e-313], [1.410185407e-315 1.2281249123e-314 â€¦ 0.0 0.0; 8.82751026e-315 1.2281249123e-314 â€¦ 0.0 1.41784279e-315; â€¦ ; 5.0e-324 0.0 â€¦ 1.228128011e-314 1.415417997e-315; 1.97042905e-316 0.0 â€¦ 0.0 1.265e-321], 0Ã—25 DataFrame, [1.0700474153e-314 1.070121438e-314 â€¦ 0.0 0.0; 1.0700474943e-314 1.070121533e-314 â€¦ 0.0 0.0; â€¦ ; 1.069675198e-314 1.0708573984e-314 â€¦ 0.0 1.1628800814e-314; 1.0701214224e-314 9.906208055e-315 â€¦ 0.0 1.3961246907498e-309], "430300", "Anthony Higa", String[])

In [23]:
Tony2.Dept

"430300"

In [24]:
Tony2.Name

"Anthony Higa"

In [24]:
fetchAndWritePlannedHours2!(df, "HIGA ANTHONY", Tony, :fwd);

In [25]:
fetchAndWritePlannedHours2!(df, "BRIONES JULITA", Julie, :fwd)

DisciplineLaborTest(Float64[], 21Ã—27 DataFrame
 Row â”‚ Project   Network      Task   Month1  Month2  Month3  Month4  Month5  M â‹¯
     â”‚ String15  String15     Int64  Int64   Int64   Int64   Int64   Int64   I â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171    N150171-NB    2000      40       0       0       0       0    â‹¯
   2 â”‚ 150547    N150547-02    2050      56       0       0       0       0
   3 â”‚ 150547    N150547-02    2051      10       0       0       0       0
   4 â”‚ 150547    N150547-02    2052       0      11       0       0       0
   5 â”‚ 150547    N150547-02    2081       0       0      50     100      50    â‹¯
   6 â”‚ 152242    N152242-02    2011       2       2       0       0       0
   7 â”‚ 152242    N152242-NB    2000       0       0       0       0       0
   8 â”‚ 154662    N154662-02    2000       0       0       0       0       0
  â‹®  â”‚    â‹®           â‹®         â‹®      â‹®       â‹®       â‹®       â‹®       â‹®       â‹±
  15 â”‚ 156257    N156257-02    2060       7       0       0       0       0    â‹¯
  16 â”‚ 156257    N156257-02    2081       0      60       0       0       0
  17 â”‚ 156257    N156257-02    2085       0      16       0       0       0
  18 â”‚ IND-43    NZ430300-00     30       0       0       0       0       0
  19 â”‚ NZ430300  NZ430300-00     20       0       0       0       0       0    â‹¯
  20 â”‚ NZ430300  NZ430300-00     31       8       0       0       0       0
  21 â”‚ NZ430300  NZ430300-00     40       0      16       0       0       0
                                                   19 columns and 6 rows omitted, 0Ã—27 DataFrame, [9.34e-322 7.884378455060531e291 â€¦ 8.487983164e-314 0.0; 2.1810600841198036e70 -1.8005683406214716e-153 â€¦ 0.0 0.0; â€¦ ; -2.277425302554542e17 1.619387284e-314 â€¦ NaN 0.0; 8.531701000409265e-269 0.0 â€¦ 2.1219957905e-314 1.1620289644e-314], [0.0 0.0 â€¦ 0.0 NaN; 1.162029099e-314 0.0 â€¦ 1.1620311857e-314 2.1219957905e-314; â€¦ ; 0.0 1.162029265e-314 â€¦ 0.0 9.8e-322; 5.0e-324 0.0 â€¦ 0.0 1.1652558415e-314], [1.406351853e-315 1.4086074e-315 â€¦ 1.401119263e-315 0.0; 1.413477544e-315 1.4086074e-315 â€¦ 1.400314924e-315 0.0; â€¦ ; 1.406402445e-315 1.417350466e-315 â€¦ 0.0 0.0; 1.400314924e-315 1.40075065e-315 â€¦ 0.0 0.0], 0Ã—27 DataFrame, [1.162041067e-314 0.0 â€¦ 0.0 0.0; 0.0 1.0e-323 â€¦ 0.0 0.0; â€¦ ; 0.0 5.0e-324 â€¦ 0.0 2.1219957905e-314; 0.0 1.159886336e-314 â€¦ 0.0 0.0], "430300", "", ["150171", "150547", "152242", "154662", "154671", "156257", "IND-43", "NZ430300"])

In [28]:
Tony.FwdHoursForecast

10Ã—27 DataFrame
 Row â”‚ Project   Network      Task   Month1  Month2  Month3  Month4  Month5  M â‹¯
     â”‚ String15  String15     Int64  Int64   Int64   Int64   Int64   Int64   I â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171    N150171-NB    2000      40       0       0       0       0    â‹¯
   2 â”‚ 152242    N152242-02    2081       0       0       0       0       0
   3 â”‚ 153804    N153804-02    2081       0       0     120     120       0
   4 â”‚ 154558    N154558-02    2020     120      80       0       0       0
   5 â”‚ 154558    N154558-02    2050       0       0       0       0       0    â‹¯
   6 â”‚ 154662    N154662-02    2000       0       0       0       0     184
   7 â”‚ IND-43    NZ430300-00     20       0       0       0       0       0
   8 â”‚ IND-43    NZ430300-00     50       0       0       0       0       0
   9 â”‚ NZ430300  NZ430300-00     31       8       0       0       0       0    â‹¯
  10 â”‚ NZ430300  NZ430300-00     40       0      40       0       0       0
                                                              19 columns omitted

In [27]:
Julie.FwdHoursForecast

21Ã—27 DataFrame
 Row â”‚ Project   Network      Task   Month1  Month2  Month3  Month4  Month5  M â‹¯
     â”‚ String15  String15     Int64  Int64   Int64   Int64   Int64   Int64   I â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171    N150171-NB    2000      40       0       0       0       0    â‹¯
   2 â”‚ 150547    N150547-02    2050      56       0       0       0       0
   3 â”‚ 150547    N150547-02    2051      10       0       0       0       0
   4 â”‚ 150547    N150547-02    2052       0      11       0       0       0
   5 â”‚ 150547    N150547-02    2081       0       0      50     100      50    â‹¯
   6 â”‚ 152242    N152242-02    2011       2       2       0       0       0
   7 â”‚ 152242    N152242-NB    2000       0       0       0       0       0
   8 â”‚ 154662    N154662-02    2000       0       0       0       0       0
  â‹®  â”‚    â‹®           â‹®         â‹®      â‹®       â‹®       â‹®       â‹®       â‹®       â‹±
  15 â”‚ 156257    N156257-02    2060       7       0       0       0       0    â‹¯
  16 â”‚ 156257    N156257-02    2081       0      60       0       0       0
  17 â”‚ 156257    N156257-02    2085       0      16       0       0       0
  18 â”‚ IND-43    NZ430300-00     30       0       0       0       0       0
  19 â”‚ NZ430300  NZ430300-00     20       0       0       0       0       0    â‹¯
  20 â”‚ NZ430300  NZ430300-00     31       8       0       0       0       0
  21 â”‚ NZ430300  NZ430300-00     40       0      16       0       0       0
                                                   19 columns and 6 rows omitted

In [27]:
fetchAndWritePlannedHours2!(df, "HIGA ANTHONY", Tony2, :fwd);

DimensionMismatch: DimensionMismatch("arrays could not be broadcast to a common size; got a dimension with lengths 27 and 25")

In [23]:
Tony2.FwdHoursForecast

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [41]:
########################################################################################################################

t

7Ã—25 DataFrame
 Row â”‚ Project   NOV/2021 Planned_sum  DEC/2021 Planned_sum  JAN/2022 Planned_ â‹¯
     â”‚ String15  Int64                 Int64                 Int64             â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171                      40                     0                    â‹¯
   2 â”‚ 152242                       0                     0
   3 â”‚ 153804                       0                     0
   4 â”‚ 154558                     120                    80
   5 â”‚ 154662                       0                     0                    â‹¯
   6 â”‚ IND-43                       0                     0
   7 â”‚ NZ430300                     8                    40
                                                              22 columns omitted

In [42]:
Tony.FwdHoursForecast

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [43]:
t |> names

25-element Vector{String}:
 "Project"
 "NOV/2021 Planned_sum"
 "DEC/2021 Planned_sum"
 "JAN/2022 Planned_sum"
 "FEB/2022 Planned_sum"
 "MAR/2022 Planned_sum"
 "APR/2022 Planned_sum"
 "MAY/2022 Planned_sum"
 "JUN/2022 Planned_sum"
 "JUL/2022 Planned_sum"
 â‹®
 "FEB/2023 Planned_sum"
 "MAR/2023 Planned_sum"
 "APR/2023 Planned_sum"
 "MAY/2023 Planned_sum"
 "JUN/2023 Planned_sum"
 "JUL/2023 Planned_sum"
 "AUG/2023 Planned_sum"
 "SEP/2023 Planned_sum"
 "OCT/2023 Planned_sum"

In [45]:
Tony.FwdHoursForecast

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [52]:
append!(Tony.FwdHoursForecast, t, cols = :intersect)

7Ã—2 DataFrame
 Row â”‚ Project   Month1
     â”‚ String15  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40
   2 â”‚ 152242         0
   3 â”‚ 153804         0
   4 â”‚ 154558       120
   5 â”‚ 154662         0
   6 â”‚ IND-43         0
   7 â”‚ NZ430300       8

In [27]:
Tony.FwdHoursForecast

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [68]:
rename!(t, names(t) .=> names(Tony.FwdHoursForecast))

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [69]:
t

7Ã—25 DataFrame
 Row â”‚ Project   Month1  Month2  Month3  Month4  Month5  Month6  Month7  Month â‹¯
     â”‚ String15  Int64   Int64   Int64   Int64   Int64   Int64   Int64   Int64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 150171        40       0       0       0       0       0       0        â‹¯
   2 â”‚ 152242         0       0       0       0       0       0     168     10
   3 â”‚ 153804         0       0     120     120       0       0       0
   4 â”‚ 154558       120      80       0       0       0       0       0
   5 â”‚ 154662         0       0       0       0     184     168       0        â‹¯
   6 â”‚ IND-43         0       0       0       0       0       0       0
   7 â”‚ NZ430300       8      40       0       0       0       0       0
                                                              17 columns omitted

In [33]:
collect(t.Project)

7-element Vector{String15}:
 "150171"
 "152242"
 "153804"
 "154558"
 "154662"
 "IND-43"
 "NZ430300"

In [1]:
+(1,2)

3

In [2]:
a = (1,2)

(1, 2)

In [5]:
+(a...)

3